<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="{{ url_for('static', filename='node_modules/chart.js/dist/Chart.js')}}"></script>
</head>
<body>
	<canvas id="myChart" width="400" height="200"></canvas>
	<script>
		var x = {{ x }}
		var y = {{ y }}
		const magicset = "{{ magicset }}"
		var ctx = document.getElementById('myChart').getContext('2d');
		
		function generateData() {
			var data = [];
			for (var i = 0; i < y.length; i++) {
				data.push({
					x: x[i],
					y: y[i]
				});
			}
//			console.log(data)
			return data;
		}
// working up to this point, data is in an array, returned in generatedata function
		
		var ChartData = {
		datasets: [{
			label: magicset,
			fill: false,
			lineTension: 0.1,
			data: generateData()
			}]}
			
// Render chart

		var myChart = new Chart(ctx, {
    		type: 'line',
    		data: ChartData,
			options: {
				responsive: true,
				elements: {
					point:{
						radius: 0
					}
				},
				scales: {
					xAxes: [{
						type: 'linear', 
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Date'
						}
					}],
					yAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Price'
						},
						ticks: { 
							//beginAtZero: true
							suggestedMin: 60
						}
					
					}]
				}
			}
		});
</script>
	</script>
</body>
</html>
